<%-include("partials/header")-%>
<link rel="stylesheet" href="/css/style.css">
<h1>Your Cart</h1>
<div class="cart-value-btn">
    <p>your cart value is: <i class="fa-sharp fa-solid fa-indian-rupee-sign"></i>  <%=cart%>/-</p>
    <button id="continue-cart"><a href="/payment">Continue</a></button>
</div>
<div id="product-container">
    <% selectedproduct.forEach((product) => { %>
    <div id="single-product">
        <div class="details">
            <div class="image-of-product">
                <img id="pimage" src="<%=product.pimage%>" alt="pimage">
            </div>
            <h2 id="product_h2"><%= product.productname %></h2>
            <span><i class="fa-sharp fa-solid fa-indian-rupee-sign"></i> <%= product.price %>/-</span>
        </div>
    </div>
    <% }); %>
</div>

